<style type="text/css">
   label{
    color:white;
   }

</style>
<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <font color="white"><h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2></font>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <font color="white"><li><%= message %></li></font>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ci %><br>
    <%= f.number_field :ci %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.number_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :correo %><br>
    <%= f.text_field :correo %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit%>
  </div>
  <br>
  
<% end %>
