<style type="text/css">
  p{
    color:white;
   }
   td{
    background-color: white;
   }
   thead{
    color:white;
   }
   strong{
    color:white;
   }

</style>

<h1><strong>Compras del cliente </strong></h1>
<p>Total pagado : <%= @cliente.ventums.sum(:Costo) %></p>
<div class="row">
<div class="col-md-4 col-md-offset-4">
<%if@cliente.ventums.count>0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id venta</th>
      <th>Costo (Bs)</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente.ventums.each do |ventum| %>
      <tr>
        <td><%= ventum.id %></td>
        <td><%= ventum.Costo %></td>
        <td><%= link_to 'Mostrar', ventum, class: "btn btn-info" %></td>
        <td><%= link_to 'Eliminar', ventum, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%else%>
<p>No hay ventas registradas</p>
<%end%>
<%= link_to 'Atras', '/clientes/'+@cliente.id.to_s+'' , class: "btn btn-success" %>
