<strong>Ventas del cliente</strong>
<p>Total pagado : <%= @cliente.ventums.sum(:Costo) %></p>
<%if@cliente.ventums.count>0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id venta</th>
      <th>Costo (Bs)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente.ventums.each do |ventum| %>
      <tr>
        <td><%= ventum.id %></td>
        <td><%= ventum.Costo %></td>
        <td><%= link_to 'Mostrar', ventum, class: "btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_ventum_path(ventum) ,class: "btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', ventum, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<p>No hay ventas registradas</p>
<%end%>
<p><a href="/clientes/<%=@cliente.id%>"><i class="btn btn-success"></i> Atras</a></p>