<p id="notice"><%= notice %></p>
<div id="muestra">
<h1>Listing Lists</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Costo</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.producto %></td>
        <td><%= list.costo %></td>
        <td><%= list.cantidad %></td>
        <td><%= link_to 'Mostrar', list %></td>
        <td><%= link_to 'Editar', edit_list_path(list) %></td>
        <td><%= link_to 'Eliminar', list, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nueva Lista', new_list_path %>
