<p id="notice"><%= notice %></p>
<div id="muestra">

<p>
  <strong>Producto:</strong>
  <%= @list.producto %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @list.costo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @list.cantidad %>
</p>
</div>
<%= link_to 'Editar', edit_list_path(@list) %> |
<%= link_to 'Atras', lists_path %>
