<%= form_for(@mascotum) do |f| %>
  <% if @mascotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mascotum.errors.count, "error") %> prohibited this mascotum from being saved:</h2>

      <ul>
      <% @mascotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_cliente %><br>
    <%= f.number_field :id_cliente %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :especie %><br>
    <%= f.text_field :especie %>
  </div>
  <div class="field">
    <%= f.label :raza %><br>
    <%= f.text_field :raza %>
  </div>
  <div class="field">
    <%= f.label :fecha_nacimiento %><br>
    <%= f.date_select :fecha_nacimiento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
