<style type="text/css">
   label{
    color:white;
   }

</style>
<%= form_for(@mascotum) do |f| %>
  <% if @mascotum.errors.any? %>
    <div id="error_explanation">
      <font color="white"><h2><%= pluralize(@mascotum.errors.count, "errores") %> se encontraron al crear una nueva mascota:</h2></font>

      <ul>
      <% @mascotum.errors.full_messages.each do |message| %>
        <font color="white"><li ><%= message %></li></font>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Dueño %><br>
    <%= f.collection_select(:cliente_id, Cliente.all, :id, :ci) %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :especie %><br>
    <%= f.text_field :especie %>
  </div>
  <div class="field">
    <%= f.label :raza %><br>
    <%= f.text_field :raza %>
  </div>
  <div class="field">
    <%= f.label :fecha_nacimiento %><br>
    <%= f.date_field :fecha_nacimiento %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
  <br>
<% end %>
