<p id="notice"><%= notice %></p>

<h1>Listing Mascota</h1>

<table>
  <thead>
    <tr>
      <th>Dueño</th>
      <th>Nombre</th>
      <th>Especie</th>
      <th>Raza</th>
      <th>Fecha nacimiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mascota.each do |mascotum| %>
      <tr>
        <%if Cliente.find_by(id: mascotum.clientes_id) != nil %>
        <td><%= (Cliente.find_by(id: mascotum.clientes_id)).nombre %> <%= (Cliente.find_by(id: mascotum.clientes_id)).apellido %> </td>
        <%else%>
        <td>N/A</td>
        <%end %>
        
        <td><%= mascotum.nombre %></td>
        <td><%= mascotum.especie %></td>
        <td><%= mascotum.raza %></td>
        <td><%= mascotum.fecha_nacimiento %></td>
        <td><%= link_to 'Show', mascotum %></td>
        <td><%= link_to 'Edit', edit_mascotum_path(mascotum) %></td>
        <td><%= link_to 'Destroy', mascotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mascotum', new_mascotum_path %>
<a href="veterinaria">Atras</a>