<style type="text/css">
  p{
    color:white;
   }
   td{
    background-color: white;
   }
   thead{
    color:white;
   }
   strong{
    color:white;
   }

</style>
<div id="muestra">
<h1><strong>Datos de la Mascota</strong></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Dueño:</strong>
  <%if Cliente.find_by(id: @mascotum.cliente_id) != nil %>
        <%= (Cliente.find_by(id: @mascotum.cliente_id)).nombre %>
        <%= (Cliente.find_by(id: @mascotum.cliente_id)).apellido %>
        <td><%= link_to 'Ver dueño', Cliente.find_by(id: @mascotum.cliente_id), class: "btn btn-info"%></td>
  <%else%>
        N/A
  <%end %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @mascotum.nombre %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @mascotum.especie %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @mascotum.raza %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @mascotum.fecha_nacimiento %>
</p>
<p>
  <strong>Color:</strong>
  <%= @mascotum.color %>
</p>
<p>
  <strong>Sexo:</strong>
  <%if @mascotum.sexo ==true%>
   Macho
  <%else%>
   Femenino
  <%end%>
</p>
<p>
  <strong>Esterilizado:</strong>
  <%if @mascotum.esterilizado ==true%>
   Si
  <%else%>
   No
  <%end%>
</p>
</div>
<%= link_to 'Historial medico', '/mascota/'+@mascotum.id.to_s+'/atenciones' , class: "btn btn-success" %>

<%= link_to 'Editar', edit_mascotum_path(@mascotum), class: "btn btn-warning" %>
<%= link_to 'home Mascotas', mascota_path , class: "btn btn-primary"%>
