<style type="text/css">
  p{
    color:white;
   }
   td{
    background-color: white;
   }
   thead{
    color:white;
   }
   h1{
   	color: white;
   }
 strong{
    color:white;
   }

</style>

<h1><strong>Datos del Producto </strong></h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Codigo:</strong>
  <%= @prodcuto.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @prodcuto.nombre %>
</p>

<p>
  <strong>Fecha vencimiento:</strong>
  <%= @prodcuto.fecha_vencimiento %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @prodcuto.cantidad %>
</p>
<p>
  <strong>Precio:</strong>
  <%= @prodcuto.Precio %>
</p>

<%= link_to 'Editar', edit_prodcuto_path(@prodcuto), class: "btn btn-warning" %> |
<%= link_to 'Home Productos', prodcutos_path , class: "btn btn-primary"%>
