<style type="text/css">
   label{
    color:white;
   }

</style>
<%= form_for(@ventum) do |f| %>
  <% if @ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
      <% @ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
   <div class="field">
    <%= f.label :Dueño %><br>
    <%= f.collection_select(:clientes_id, Cliente.all, :id, :ci) %>
    <%= link_to 'Registrar Cliente', new_cliente_path, class: "btn btn-success" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
