<style type="text/css">
  thead{
    color:white;
  }
   td{
    background-color: white;
   }

  h1{
    color:white;
  }
</style>

<p id="notice"><%= notice %></p>
<div id="muestra">
<h1>Lista de Ventas</h1>
<div class="row">

 <div class="col-md-4 col-md-offset-4">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id venta</th>
      <th>Dueño</th>
      <th>Costo (Bs)</th>
      <th>Estado</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.id %></td>
        <%if Cliente.find_by(id: ventum.cliente_id) != nil %>
        <td><%= (Cliente.find_by(id: ventum.cliente_id)).nombre %> <%= (Cliente.find_by(id: ventum.cliente_id)).apellido %> </td>
        <%else%>
        <td>N/A</td>
        <%end %>
        <td><%= ventum.Costo %></td>
        <td><% if ventum.estado == true %>
        Terminado
        <%else%>
        Pendiente
        <%end%>
       </td>
        <td><%= link_to 'Mostrar', ventum, class: "btn btn-info" %></td>

        <td><%= link_to 'Eliminar', ventum, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>

<%= link_to 'Nueva Venta', new_ventum_path, class: "btn btn-success" %>
<a class="btn btn-primary" href="veterinaria">Home</a>
</div>
