<style type="text/css">
  p{
    color:white;
   }
   td{
    background-color: white;
   }
   thead{
    color:white;
   }
   strong{
    color:white;
   }
     label{
    color:white;
   }


</style>
<div id="muestra">

<h1><strong>Datos de la Venta</strong></h1>
<p id="notice"><%= notice %></p>
<p>
	<strong>Cliente:</strong>
  <%if Cliente.find_by(id: @ventum.cliente_id) != nil %>
        <%= (Cliente.find_by(id: @ventum.cliente_id)).nombre %>
        <%= (Cliente.find_by(id: @ventum.cliente_id)).apellido %>
  <%else%>
        N/A
  <%end %>
</p>
<p>
  <strong>Costo:</strong>
  <%= @ventum.Costo %>
</p>
<p>
  <strong>ID:</strong>
  <%= @ventum.id %>
</p>
<p>
  <strong>Estado:</strong>
  <% if @ventum.estado == true %>
  Terminado
  <%else%>
  Pendiente
  <%end%>
</p>
<% if @ventum.estado == false%>
<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
<div class="jumbotron">
    <div class="alert alert-danger" role="alert">
      <font color="black"><h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2></font>
      <% @list.errors.full_messages.each do |message| %>
        <font color="black"><li><%= message %></li></font>
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :ventum_id, :value => @ventum.id %>
  </div>
  <div class="field">
    <%= f.label :producto %><br>
    <%= f.collection_select(:producto, Prodcuto.all, :nombre, :nombre) %><br>
  </div>
   <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %><br>
  </div>
  <div class="actions">
    <br><%= f.submit 'Agregar',class: "big ui button, ui inverted green button" %><br>
  </div>
<% end %>
<% end %>
<% if @ventum.lists.count > 0%>
    <strong>Lista de productos</strong>
    <br>
    <div class="container">
    <table class="ui olive table, table">
    <thead>
      <tr>
        <th >Producto</th>
        <th >Costo </th>
        <th >Unidades</th>
      </tr>
    </thead>

    <% @ventum.lists.each do |com|%>
      <tr>
        <td><%=com.producto %></td>
        <td><%=com.costo %> BS.</td>
        <td><%=com.cantidad %></td>
        <% if @ventum.estado == false%>
        <td><%= link_to 'Eliminar', com, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        <%else%>
         Terminado
        <%end%>
      </tr>
    <%end%>
    </table>
  </div>

  </div>
  <%end%>
<br>
<br>
<% if @ventum.estado == false%>
<%= link_to 'Terminar venta', '/ventas/'+@ventum.id.to_s+'/cambiar' , class: "btn btn-success" %>
<%end%>
<%= link_to 'Atras', venta_path , class: "big ui button, ui inverted blue button"%>
